#assets/*
#!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
/nbproject/private/
#IDE'S
nbproject/*
#Vendor de yii
vendor/
#Carpeta de carga de archivos
web/uploads/*

